* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #3867af;
  --primary-shade: #294898;
  --secondary: #f3ae15;
  --secondary-shade: #ef8716;
  --tertiary: #eee;
}

@font-face {
  font-family: 'Kanit';
  src: url(../fonts/Kanit-Regular.ttf);
}

h1,
h2,
h3,
a,
p,
li,
span {
  font-family: 'Kanit', sans-serif;
}

.fa-bars {
  margin: .8rem 1rem;
  font-size: 1.3rem;
}

html {
  background: var(--tertiary);
  scroll-behavior: smooth;
}

#container {
  margin: 0 auto;
  background-color: #FFF;
  height: 100vh;
}

#navbar,
#nav-links {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--primary-shade);
  font-size: 1.4rem;
  background: #fff;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar li {
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  color: var(--primary-shade);
  padding: 1rem;
  display: block;
}

.navbar li :hover {
  color: var(--secondary);
}

.toggle-button {
  position: absolute;
  top: .3rem;
  right: .4rem;
  padding: 10px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 2px 3px #bbb;
          box-shadow: 1px 2px 3px #bbb;
  border-radius: 6px;
  color: var(--primary);
  background: #FFF;
  -webkit-transition: all 50ms ease-in-out;
  transition: all 50ms ease-in-out;
}

.toggle-button:active {
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 0px 0px #bbb;
          box-shadow: 0px 0px 0px #bbb;
  border: 1px solid #aaa;
  border-radius: 6px;
  color: var(--primary);
  background: #FFF;
}

.logo-container {
  font-size: 1.6rem;
  margin: .7rem;
}

.logo-container img {
  max-width: 50px;
}

@media (min-width: 320px) {
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-links {
    display: none;
    width: 100%;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  .nav-links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .nav-links ul li {
    text-align: center;
  }
  .nav-links ul li a {
    padding: .5rem 1rem;
  }
  .nav-links.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

a {
  text-decoration: none;
}

.btn {
  padding: 1rem .75rem;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: #FFF;
  background: var(--primary);
  margin: 1rem;
  width: 200px;
  font-size: 1rem;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.btn:hover {
  background: var(--primary-shade);
}

.btn-alt {
  background: var(--secondary);
}

.btn-alt:hover {
  background: var(--secondary-shade);
}

.fa-whatsapp {
  font-size: 1.2rem;
}

.whats {
  background-color: #25D366 !important;
  border-color: #25D366 !important;
}

.whats:hover {
  background-color: #21B557 !important;
}

#hero {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7))), url("../img/background.webp");
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../img/background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem .2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero .hero-logo-container img {
  max-width: 200px;
}

#hero h1 {
  font-size: 4rem;
  text-align: center;
}

#hero p {
  font-size: 1.4rem;
}

.cta-contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--primary);
  color: var(--tertiary);
  padding: 1rem .75rem;
  text-align: center;
  border-radius: 5px;
  width: 80%;
  margin: 2rem auto;
}

.cta-contact-container .cta-contact-title {
  text-align: center;
}

.cta-contact-container .contact-list {
  list-style: none;
  font-size: 1.5rem;
}

.cta-contact-container .contact-list li {
  text-align: center;
  margin: .9rem auto;
}

.form-container {
  background: #FFF;
  border-radius: 5px;
  border: 2px solid var(--primary);
  width: 330px;
  margin: 0 auto;
}

.form-container h2 {
  color: var(--primary);
  text-shadow: 1px 1px 2px #333;
  letter-spacing: .1rem;
  text-align: center;
  font-size: 1.8rem;
  padding: 1rem .75rem;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
}

form input,
form textarea {
  width: 90%;
  margin: 1rem auto;
  padding: .55rem .95rem;
  border: 0;
  border-bottom: 2px solid var(--primary);
  background: #fafafa;
  font-size: 1rem;
}

form button {
  width: 50%;
  margin: 1rem auto 1.75rem;
  border: 0;
  padding: .75rem .45rem;
  background: var(--primary);
  color: #FFF;
  font-size: 1.3rem;
}

#about-us {
  background: var(--primary);
  height: 100vh;
  padding: 1.4rem;
}

#about-us .about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  padding: 1.4rem 1rem;
}

#about-us .about-container h2 {
  color: #FFF;
  text-shadow: 1px 1px 2px #333;
  letter-spacing: .1rem;
  text-align: center;
  font-size: 2.3rem;
  padding: .8rem .75rem 1.3rem;
}

#about-us .about-container .descrip-container p {
  font-size: 1.2rem;
  color: #FFF;
  text-align: center;
  line-height: 2rem;
  padding: .7rem 1rem;
}

#about-us .image-container {
  width: 200px;
  height: auto;
  margin: 0 auto 1rem;
  background: #FFF;
}

#about-us .image-container img {
  max-width: 100%;
  border-radius: 2px;
  border: 1px solid #FFF;
  -webkit-box-shadow: 3px 1px 3px #123456;
          box-shadow: 3px 1px 3px #123456;
}

#partners {
  background: var(--secondary);
  padding: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url("../img/results.jpg") center/cover no-repeat;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../img/results.jpg") center/cover no-repeat;
}

#partners h2 {
  font-size: 3.2rem;
  color: var(--secondary);
  text-shadow: 1px 1px 2px var(--primary-shade);
  text-align: center;
}

#partners .text-container {
  background: rgba(255, 255, 255, 0.7);
  padding: 1rem;
  border-radius: 5px;
}

#partners .text-container p {
  font-family: 'Roboto', sans-serif;
  line-height: 2.3rem;
  text-align: left;
  font-size: 1.5rem;
  color: var(--primary);
}

#partners .card {
  padding: 1rem 1.3rem;
  margin: 1rem auto;
  background: #eee;
  max-width: 500px;
}

#partners .card .card-img-container img {
  width: 100%;
}

#partners .card .card-text-container h2 {
  color: var(--primary);
  font-size: 2rem;
  padding: .7rem 0;
}

@media (min-width: 1023px) {
  .cards-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#contact-me {
  padding: 1rem .75rem;
  background: var(--secondary);
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #FFF;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 1rem;
}

.footer-container div {
  width: 100%;
  padding: 1rem 0;
}

.footer-logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  margin-right: 2rem;
  max-width: 300px;
  background: #FFF;
  border-radius: 4px;
  /* margin-right: 3rem; */
}

#footer {
  background: var(--primary-shade);
  /* background: #142430; */
}

.socicon {
  font-size: 1.3rem;
}

#footer h4 {
  font-size: 1.3rem;
  color: var(--secondary);
}

.footer-info-container ul,
.sitenav-footer ul {
  color: #FFF;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-info-container ul li,
.sitenav-footer ul li {
  padding: .3rem 0;
}

.footer-info-container ul li a,
.sitenav-footer ul li a {
  color: #FFF;
}

.copy {
  background: var(--tertiary);
  width: 100%;
}

.copy span {
  display: block;
  text-align: center;
}

.copy span a {
  text-decoration: none;
  color: #0033ff;
}

@media (min-width: 320px) {
  /* Footer */
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-logo-container span {
    letter-spacing: .1rem;
    color: #e4e4e4;
  }
  .footer-logo {
    max-width: 200px;
    height: auto;
  }
  .footer-info-container {
    text-align: center;
  }
}

@media (min-width: 767px) {
  #hero {
    height: 100vh;
  }
  #hero .btns-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .toggle-button {
    display: none;
    background: none;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .fa-bars:before {
    content: "";
    display: none;
  }
  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .nav-links ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  /*Footer*/
  .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }
  .sitenav-footer {
    text-align: left;
  }
  .footer-info-container {
    text-align: left;
  }
  .iconsoc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer-logo-container {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
  .sitenav-footer {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .footer-info-container {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}

@media (min-width: 1023px) {
  #hero {
    padding: 1rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #hero .main-info-container {
    margin-right: 5rem;
  }
  #hero .main-info-container h1 {
    text-align: center;
    width: 500px;
  }
  #hero .work-areas {
    width: 400px;
  }
  #hero .cta-contact-container {
    width: 300px;
  }
  .form-container {
    width: 400px;
    height: 520px;
    margin: 0;
  }
  #testimonials {
    height: 50vh;
  }
  #testimonials .testim-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #testimonials .testim-container .testim {
    margin: 1rem;
  }
  #about-us .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about-us .about-container .image-container {
    width: 300px;
    margin: 1rem 2rem;
  }
  #about-us .about-container .image-container img {
    max-width: 300px;
    display: block;
    margin: 0 auto;
  }
  #about-us .about-container .descrip-container {
    width: 500px;
  }
  #about-us .about-container .descrip-container h2 {
    text-align: center;
  }
  #contact-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: var(--secondary);
  }
  #contact-me .cta-contact-container {
    width: 300px;
    margin: 0 3rem;
    height: 400px;
  }
  footer {
    height: 30vh;
    padding: 1rem .75rem;
  }
  footer .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .footer-container .footer-col .footer-col-title {
    text-align: left;
  }
  footer .footer-container .footer-col .footer-list {
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */